body{
    overflow: hidden;
}
.header{
    background-image: linear-gradient(to right, blue, rgb(49, 0, 128));
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.title{
    color: white;
    font-size: 2.5rem;
    font-family:monospace;

}
.left-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    margin-left: .5rem;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    align-items: left;

}
.left-container-title{
    font-weight: bold;
    font-family: monospace;
    margin-left: .25rem;
    display: flex;
    justify-content: center;
}
.user-input{
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

.search-button{
    background-color: rgb(80, 131, 240);
    color: white;
    margin-top: .25rem;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    border-radius: 10px;

}
.search-button:hover{
    background-color: rgb(50, 91, 138);
}
.divider{
    border-bottom:solid;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.search-history-label{
    background-color: rgba(128, 128, 128, 0.383);
    width: 100%;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
}
.search-history-label:hover{
background-color: grey;
}
